permissions:
  contents: write

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files:  |
            build/*.bin
            build/*.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
